<div class="overflow-auto p-3 position-relative game-builder">
  <form [formGroup]="form" class="form-horizontal">
    <div class="py-lg-3 p-sm-2 upper-form row">
      <div class="col">
        <div class="upper-form-header d-flex justify-content-between">
          <h5 class="mt-0 mb-3 h5">Build your card set</h5>
          <div class="d-flex upper-form-input">
            <div class="input-wrapper mx-3">
              <span class="mr-2 overflow-auto d-inline-block">Preview all</span>
              <ng-toggle
                class="overflow-auto d-inline-block"
                [value]="false"
                [width]="70"
                [height]="24"
                [margin]="2"
                [fontSize]="14"
                [labels]="toggleCfg.labels"
                [color]="toggleCfg.color"
                [fontColor]="toggleCfg.fontColor"
                (change)="onChange($event)"
              >
              </ng-toggle>
            </div>
            <h5 class="mt-0 mb-3 h5">Required min: {{ cardsControl.controls.length }}/2</h5>
          </div>
        </div>
        <div class="input-wrapper required">
          <input id="name" class="form-control" placeholder="Name" required type="text" />
          <label class="control-label">Name</label>
        </div>
      </div>
      <div class="col submit-section col-xs-12 px-0 d-flex align-items-end justify-content-center">
        <a class="btn btn-info my-0 d-inline submit-btn">Create</a>
      </div>
    </div>
    <div class="cards overflow-auto" formArrayName="cards">
      <app-card-input
        class="mobile"
        *ngFor="let cardControl of cardsControl.controls; let i = index"
        [focusEnabled]="i === focusedCard"
        (focused)="onFocus(i)"
        [formControl]="cardControl"
        [defaultPreview]="defaultPreview"
      ></app-card-input>
      <div class="card new-card my-0 d-flex align-items-center justify-content-center" (click)="onAddNewCard($event)">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </form>
</div>
