$cardHeight: 320;
$cardWidth: 230;
$gap: 16;

label {
  margin-bottom: 0;
}

.upper-form {
  margin: -16px;
  background: #fff;
  z-index: 1;
  width: calc(100% - 320px);
  max-width: inherit;
  position: fixed;
  box-shadow: 0 3px 3px 0 #a0a0a026;
}

.upper-form-header {
  .input-wrapper {
    margin-top: 2px;
  }

  .upper-form-input {
    margin-right: -128px;
  }
}

.submit-section {
  max-width: 128px;
  position: relative;
}

.cards {
  padding: 145px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, $cardWidth * 1px);
  gap: $gap * 1px;
  justify-content: space-around;

  app-card-input,
  .new-card,
  .card {
    height: $cardHeight * 1px;
  }

  .new-card {
    font-size: 68px;
  }
}

.new-card {
  cursor: pointer;
  color: grey;
}

.submit-btn {
  font-family: PottaOne;
  font-size: 16px;
  width: 85%;
  margin-right: 12px;
  //padding-top: 10px;
  //padding-bottom: 14px;
  height: 46px;
}

@media screen and (max-width: 991px) {
  .upper-form {
    width: calc(100% - 10px);
  }
  .cards {
    padding-top: 120px;
  }
}

@media screen and (max-width: 1040px) {
  .upper-form-header {
    .h5 {
      font-size: 1.4em;
    }
  }
}

@media screen and (max-width: 660px) {
  .upper-form {
    width: calc(100% + 32px);
    position: relative;
    padding-bottom: 10px;
  }
  .cards {
    margin: 0 -10px 0 -10px;
    padding-top: 30px;
    grid-template-columns: repeat(1, $cardWidth * 1px);

    .new-card {
      height: 50px;
      font-size: 40px;
      border-radius: 10px;
      box-sizing: border-box;
      color: #a0a0a0;
      box-shadow: 0 0 3px #a2a2a2;
    }
  }

  .upper-form-header {
    .h5 {
      font-weight: bold;
      font-size: 1em;
      padding-top: 6px;
    }
  }
  .submit-btn {
    height: 30px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 321px) {
  .upper-form {
    .col:first-child {
      padding-left: 5px;
    }
  }
  .upper-form-header {
    .h5 {
      padding-top: 2px;
    }
  }
}
