.add-image {
  cursor: pointer;
  color: grey;

  svg {
    width: 90%;
    margin: 0 auto;
  }
}
textarea {
  white-space: pre-line;
}
app-card {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;

  &.borders {
    box-shadow: 0 0 3px #a0a0a0;
  }
}

.card-container {
  position: relative;
  overflow: hidden;
  transition: 0.5s;

  &:hover {
    cursor: pointer;

    .image-overlay {
      opacity: 100%;
    }
  }
}

.image-overlay {
  border-radius: 3px;
  position: absolute;
  bottom: calc(50% - 37.5px);
  opacity: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 5px 0 #c7c7c7;
  background: rgba(127, 127, 127, 0.45);
  transition: 0.5s;
}

p {
  font-size: 18px;
  color: white;
  text-shadow: 0 0 6px black;
}

@media screen and (max-width: 660px) {
  :host(.mobile) {
    .focused-enabled {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 0;
      width: 100%;
      z-index: 1030;

      &::before {
        content: "";
        display: block;
        height: 100vh;
        width: 100vw;
        background: #2c2c2c;
        opacity: 60%;
        bottom: 0;
        z-index: -1;
        position: absolute;
      }
      &::after {
        background-color: #fff;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }

      .card-body {
        padding: 10px;
      }
    }
  }
}
