@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.board {
  position: relative;
  margin: 10px auto;
  max-width: 1000px;
  width: calc(100% - 40px);
}

.board-content {
  display: grid;
  height: calc(100% - 40px);
  grid-column-gap: 1%;
  grid-row-gap: 1%;

  &.size2x2 {
    grid-template-columns: repeat(2, 49.5%);
    grid-template-rows: repeat(2, 49.5%);
  }

  &.size4x3 {
    grid-template-columns: repeat(4, 24.3%);
    grid-template-rows: repeat(4, 24.3%);
  }

  &.size4x4 {
    grid-template-columns: repeat(4, 24.3%);
    grid-template-rows: repeat(4, 24.3%);
  }

  &.size5x4 {
    grid-template-columns: repeat(5, 19.2%);
    grid-template-rows: repeat(4, 19.2%);
  }

  &.size6x5 {
    grid-template-columns: repeat(6, 15.83%);
    grid-template-rows: repeat(5, 15.83%);
  }

  &.size6x6 {
    grid-template-columns: repeat(6, 15.83%);
    grid-template-rows: repeat(6, 15.83%);
  }

  &.size7x6 {
    grid-template-columns: repeat(7, 13.42%);
    grid-template-rows: repeat(6, 13.42%);
  }

  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  animation: fadein 3s;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0, 1.62);
}

.board-footer {
  font-size: 18px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: calc(50% - 103px);
  left: 0;
  right: 0;
}

.board-content + .board-footer {
  font-size: 14px;
  color: #000;
  position: relative;
  top: unset;
  bottom: 0;
}
.game {
  .board-cover {
    h3 {
      display: none;
    }
  }

  .board-footer {
    display: none;
  }
}
.board-cover {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  background: #030303c9;
  flex-direction: column;

  h3 {
    display: block;
  }
  h3,
  label {
    color: white;
  }

  .ng-select {
    min-width: 80px;
  }

  label {
    font-size: 22px;
  }
}

.d-inline-block {
  display: inline-block;
}

@media screen and (max-width: 660px) {
  .board-footer {
    font-size: 14px;
  }

  .board-cover {
    .ng-select {
      min-width: 70px;
    }

    label {
      font-size: 14px;
    }
  }
  .board-config {
    width: 90%;
    margin: 0 auto;
  }
}
