<div class="board" [class.game]="!timer.currentTick" appSizer="{{ form.value.size.className }}">
  <div class="board-cover flex-center" *ngIf="isCompleted$ | async; else game">
    <h3 class="mb-5" translate>Finieshed!</h3>
    <div class="board-config pb-3 flex-center" [formGroup]="form">
      <label for="size" class="mb-0 mx-2">Select size</label>
      <ng-select
        id="size"
        [items]="sizes"
        bindLabel="className"
        [clearable]="false"
        [searchable]="false"
        formControlName="size"
      ></ng-select>
      <label for="type" class="mb-0 mx-2">Select type</label>
      <ng-select id="type" [items]="types" [clearable]="false" [searchable]="false" formControlName="type"></ng-select>
    </div>
    <button class="button-bigger btn btn-info pointer" (click)="play($event)">
      <span translate>Start playing</span>
    </button>
  </div>
  <ng-template #game>
    <div class="board-content {{ 'size' + form.value.size.className }}">
      <app-card
        *ngFor="let card of cards$ | async; trackBy: trackByFn"
        [card]="card"
        (clicked)="onCardClick($event)"
      ></app-card>
    </div>
  </ng-template>

  <div class="board-footer">
    <p class="d-inline-block mt-3">
      {{ 'Checks' | translate }}
      : {{ moves$ | async }}
      <app-timer #timer>{{ 'Time' | translate }}:&nbsp;</app-timer>
    </p>
  </div>
</div>
