@import "assets/scss/now-ui-dashboard.scss";

@font-face {
  font-family: PottaOne;
  src: url("assets/fonts/PottaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.mat-button-bigger {
  padding: 15px 40px !important;
  font-size: 22px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}
