<ng-container *ngIf="card && localState$ | async as state">
  <div
    class="card item noselect"
    [ngClass]="{ show: state.show, hide: state.hide, reveal: state.revealed }"
    (click)="onClick()"
  >
    <div class="content flex-center px-0" [ngSwitch]="card.type">
      <svg
        *ngSwitchCase="'text'"
        version="1.1"
        id="banner"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMinYMin slice"
        xml:space="preserve"
      >
        <text
          id="dynamictext"
          x="50%"
          y="50%"
          dominant-baseline="middle"
          text-anchor="middle"
          font-family="Roboto"
          color="grey"
          style="font-size: 14px; fill: grey"
        >
          <tspan
            *ngFor="let segment of card.value | textSegment; let i = index"
            [attr.dy]="segment.y"
            x="50%"
            text-anchor="middle"
          >
            {{ segment.text }}
          </tspan>
        </text>
      </svg>
      <div *ngSwitchCase="'img'">
        <img class="card-img" [attr.src]="card.value" alt="" />
      </div>
      <div *ngSwitchDefault>??</div>
    </div>
  </div>
</ng-container>
