:host {
  width: 100%;
}
.wrapper {
  min-height: calc(100vh - 31px);
  height: auto;
}
.body-fitted-height {
  min-height: calc(100vh - 102px);
}

.main-content {
  min-height: calc(100vh - 70px);
  padding-bottom: 10px;
}

.card {
  padding-top: 15px;
  margin-bottom: 7px;
}

.main-panel {
  padding-top: 69px;
}
